@import 'https://fonts.googleapis.com/css?family=Raleway';
.contains{
    font: Raleway;
}
.blue
{
    background:#2c3e50 ;
}
.text{
    
    color: #FFF;
    text-decoration: none;
    font: 15px Raleway;
    position:relative;
    z-index:0;

}