.styled{
  width: 200px;
  height: 200px;
}
.font{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
	color: black;
 

}
.container{
	display: flex;
    overflow:hidden;
}

@media (max-width: 800px) {
	.container {
		display:list-item;
	  margin: 10px 0;
	}
  
  }

