@import 'https://fonts.googleapis.com/css?family=Raleway';

.font{
	font-family: Raleway;
	font-size: 16px;
	color: black;
    margin-top: 20px;
 

}
.blue
{
    background:#2c3e50 ;
}
.text{
    
    color: #FFF;
    text-decoration: none;
    font: 15px Raleway;
    position:relative;
    z-index:0;

}

@media (max-width: 800px) {
	.response {
	  margin: 15px;
	}
  
  }